name: Laravel CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  laravel-tests:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Install dependencies
      run: npm install

    - name: Build front-end assets
      run: npm run build
 
    - name: Setup PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: 8.2
        extensions: mbstring, bcmath, mysql
        coverage: xdebug

    - name: Install dependencies
      run: composer install --no-progress --no-suggest --prefer-dist

    - name: Copy .env
      run: cp .env.example .env

    - name: Generate app key
      run: php artisan key:generate

    - name: Run Pint
      run: vendor/bin/pint

    - name: Run Tests
      run: php artisan test --parallel
